.our-team {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.template {
  width: 100%;
  height: 100%;
}
.signature {
  width: 25%;
  height: 25%;
}
.team-title {
  font-size: 50px;
}
.team-title span {
  color: #0cb8b6;
}
.span {
  color: tomato;
}
@media only screen and (max-width: 688px) {
  .our-team {
    display: block;
  }
}
