.form-container {
  width: 25%;
}
.bi {
  margin-right: 30px;
}
.button {
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  padding: 5px 50px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card img {
  height: 300px;
  width: 100%;
}
@media only screen and (max-width: 688px) {
  .form-container {
    width: 100%;
    padding: 0 40px;
  }
  .button {
    font-size: 15px;
  }
  .card img {
    height: 200px;
  }
  .bi {
    margin-right: 15px;
  }
}
