.header-container {
  background-color: #0cb8b6;
}
.logo {
  width: 200px;
  height: 50px;
}
.btn-regular {
  background-color: #f36438;
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  color: white;
}
.btn-login {
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  margin-left: 15px;
  background-color: #f36438;
  color: white;
}
