.footer-container {
  width: 100%;
  height: 350px;
  background-color: #0cb8b6;

  position: relative;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 40px 50px;
  color: white;
  background-color: #16c2bf91;
}
.Links a {
  display: block;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}
.bi {
  font-size: 20px;
}

@media only screen and (max-width: 688px) {
  .layer {
    grid-template-columns: repeat(1, 1fr);
    color: black;
    background-color: white;
  }
  .Links a {
    color: black;
  }
  .logo {
    background-color: #0cb8b6;
  }
}
