img {
  height: 800px;
}
.title {
  color: #f36438;
  font-size: 50px;
}
.description {
  color: black;
  font-size: 30px;
}

@media only screen and (max-width: 688px) {
  img {
    height: 500px;
  }
  .title {
    font-size: 25px;
  }
  .description {
    font-size: 15px;
  }
}
